<nav>
  <ul>
    <li>
      <a>
        <img
          src="https://raw.githubusercontent.com/krittin1/my-storage/master/logo.png?token=AGJ244OZIMHWPAGNAWTJFRK7FPH2Y"
        />
      </a>
    </li>

    <li>
      <a id=testing_search_page [routerLink]="['/search']">Search</a>
    </li>
    <li><a [routerLink]="['/product-detail']">Product detail</a></li>
    <li><a [routerLink]="['/shopping-cart']">Shopping cart</a></li>
    <li><a [routerLink]="['/shipping']">Shipping</a></li>
    <li><a [routerLink]="['/payment']">Payment</a></li>
    <li><a [routerLink]="['/thanks-you']">Thanks you</a></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
