<br />
<h1 style="margin-left: 15px;">Shopping Address</h1>

<div style="margin-left: 65px; margin-right: 65px;" class="ui form">
  <div class="required field">
    <label>Full Name</label>
    <input type="text" placeholder="ex: Alex Johnson" type="text" />
  </div>
  <div class="required field">
    <label>Address 1</label>
    <input
      type="text"
      placeholder="ex: Kamphaeng Phet 2 Rd, Chatuchak"
      type="text"
    />
  </div>
  <div class="required field">
    <label>Address 2</label>
    <input
      type="text"
      placeholder="ex: Kamphaeng Phet Road Lat Yao, Chatuchak"
      type="text"
    />
  </div>
  <div class="three fields">
    <div class="required field">
      <label>City</label>
      <input placeholder="ex: Chatuchak" type="text" />
    </div>
    <div class="required field">
      <label>Province</label>
      <input placeholder="ex: Bangkok" type="text" />
    </div>
    <div class="required field">
      <label>Post Code</label>
      <input placeholder="ex: 10900" type="text" />
    </div>
  </div>
  <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" />
      <label>I agree to the terms and conditions</label>
    </div>
  </div>
  <button class="ui orange button">
    <i class="truck icon"></i>Deliver to this Address
  </button>
</div>
