<br />
<h1 style="margin-left: 15px;">Shopping Address</h1>

<div style="margin-left: 65px; margin-right: 65px;" class="ui form">
  <div class="required field">
    <label>Full Name</label>
    <input type="text" value={{address.fullName}} type="text" />
  </div>
  <div class="required field">
    <label>Address 1</label>
    <input
      type="text"
      value={{address.address1}}
      type="text"
    />
  </div>
  <div class="required field">
    <label>Address 2</label>
    <input
      type="text"
      value={{address.address2}}
      type="text"
    />
  </div>
  <div class="three fields">
    <div class="required field">
      <label>City</label>
      <input value={{address.city}} type="text" />
    </div>
    <div class="required field">
      <label>Province</label>
      <input value={{address.province}} type="text" />
    </div>
    <div class="required field">
      <label>Post Code</label>
      <input value={{address.postCode}} type="text" />
    </div>
  </div>
  <button class="ui orange button" (click)="onDeliver()">
    <i class="truck icon"></i>Deliver to this Address
  </button>
</div>
