.form-input {
  margin-left: 15px;
  margin-top: 5px;
}

.ui primary basic button {
  margin-left: 15px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fullwidth {
  width: 100%;
}
