<br />
<h1 style="margin-left: 15px;">Search Toy</h1>
<form class="form-input" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="horizontal">
    <div class="fullwidth">
      <label for="cars">Age </label>
      <select
        id="select_age"
        style="width: 80%; margin: 10px;"
        (change)="changeAge($event)"
        formControlName="age"
      >
        <option id="baby" value="Baby">Baby</option>
        <option id="3_to_5" value="3_to_5">3 to 5</option>
        <option id="6_to_8" value="6_to_8">6 to 8</option>
        <option id="Toddler" value="Toddler">Toddler</option>
        <option id="over8" value="over8">Over 8</option>
      </select>
      <i class="users icon"></i>
    </div>
    <div class="fullwidth">
      <span>Gender </span>
      <select
        id="select_gender"
        style="width: 80%; margin: 10px;"
        (change)="changeGender($event)"
        formControlName="gender"
      >
        <option id="neutral" value="Neutral">Neutral</option>
        <option id="male" value="Male">Male</option>
        <option id="female" value="Female">Female</option>
      </select>
      <!-- <i class="venus mars icon"></i> -->
    </div>

    <div class="fullwidth">
      <button class="ui primary basic button" id="button_search">
        Search
      </button>
    </div>
  </div>
</form>

<table class="ui basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let toy of toys; let i = index"
      (click)="onProductClick(toy)"
      routerLink="/product-detail"
      [queryParams]="{ toy: toy | json }"
      id="{{ toy.toyId }}"
    >
      <td>{{ toy.toyName }}</td>
      <td>{{ toy.gender }}</td>
      <td>{{ toy.age }}</td>
      <td>{{ toy.price | currency }}</td>
    </tr>
  </tbody>
</table>
