<br />
<h1 style="margin-left: 15px;">Payment Methods</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Items</th>
      <th>Quantity</th>
      <th style="text-align: right;">Price (THB)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cart of carts">
      <td>
        <p style="text-align: left;" class="ui center aligned header">
          {{cart.toyName}} by {{cart.brand}} ({{cart.gender}} | {{cart.age}})
        </p>
      </td>
      <td>
        <input
          placeholder="1"
          required
          type="number"
          [(value)]="cart.quantity"
          min="1"
          max="100"
        />
      </td>
      <td>
        <div class="toy-price">
          {{cart.price * 31.53 | number : '1.2'}}
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5"></th>
    </tr>
  </tfoot>
</table>

<div style="text-align: left; margin-left: 15px;">
  Shipping Method: EMS<br />Shipping Fee: {{shippingFee | number : '1.2'}} THB <br /><br />
  <b>Select Payment Methods</b>
  <span class="subtotal">
    <h4>Order Summary</h4>
    <br />

    Item ({{allItemQuantities}} items): {{totalPrice * 31.53 | number : '1.2'}} THB<br /><br />Shipping Fee: {{shippingFee | number : '1.2'}} THB<br />Order
    Total: {{(totalPrice * 31.53) + shippingFee | number : '1.2'}} THB
    <br />
  </span>
</div>

<div class="ui form" style="margin-left: 15px;">
  <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          name="fruit"
          checked=""
          tabindex="0"
          class="hidden"
        />
        <label><i style="color: navy;" class="cc visa icon"></i>VISA</label>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="fruit" tabindex="0" class="hidden" />
          <label><i class="cc mastercard icon"></i>Mastercard</label>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="fruit" tabindex="0" class="hidden" />
            <label>KBANK</label>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>SCB</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>TMB</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>BAM</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>GSB</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label
                ><i style="color: green;" class="linechat icon"></i
                >LINEPAY</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button style="margin-top: 5px;" class="ui orange button" (click)="placeOrder()">
      <i class="credit card icon"></i>
      Place your Order
</button>