<br />
<h1 style="margin-left: 15px;">Payment Methods</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Items</th>
      <th>Availability</th>
      <th>Quantity</th>
      <th>Review Rating</th>

      <th style="text-align: right;">Price (THB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p style="text-align: left;" class="ui center aligned header">
          Earth DVD Game by VideoVroom (Neutral | over 8)
        </p>
      </td>
      <td class="single line">
        <i style="color: green; margin-left: 25px;" class="check icon"></i>
      </td>
      <td>
        1
      </td>
      <td class="right aligned">
        <div class="rating">
          <i class="star icon"></i>
          <i class="star icon"></i>
          <i class="star icon"></i>
        </div>
      </td>
      <td>
        <div class="toy-price">
          1,103.23
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p style="text-align: left;" class="ui center aligned header">
          43 Piece dinner Set by CoolKidz (Female | 3-5)
        </p>
      </td>
      <td class="single line">
        <i style="color: green; margin-left: 25px;" class="check icon"></i>
      </td>
      <td>
        1
      </td>
      <td class="right aligned">
        <div class="rating">
          <i class="star icon"></i>
          <i class="star icon"></i>
          <i class="star icon"></i>
        </div>
      </td>
      <td>
        <div class="toy-price">
          408.31
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5"></th>
    </tr>
  </tfoot>
</table>

<p style="text-align: left; margin-left: 15px;">
  Shipping Method: Kerry Express<br />Shipping Fee: 35.00 THB <br /><br />
  <b>Select Payment Methods</b>
  <span class="subtotal">
    <h4>Order Summary</h4>
    <br />

    Item (2 items): 1,511.54 THB<br /><br />Shipping Fee: 35.00 THB<br />Order
    Total: 1,511.54 THB
    <br />
    <button style="margin-top: 5px;" class="ui orange button">
      <i class="credit card icon"></i>
      Place your Order
    </button>
    <br /><br />
  </span>
</p>

<div class="ui form" style="margin-left: 15px;">
  <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          name="fruit"
          checked=""
          tabindex="0"
          class="hidden"
        />
        <label><i style="color: navy;" class="cc visa icon"></i>VISA</label>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="fruit" tabindex="0" class="hidden" />
          <label><i class="cc mastercard icon"></i>Mastercard</label>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="fruit" tabindex="0" class="hidden" />
            <label>KBANK</label>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>SCB</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>TMB</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>BAM</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label>GSB</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" />
              <label
                ><i style="color: green;" class="linechat icon"></i
                >LINEPAY</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
