<!-- <script>
  $("input[type='number']").inputSpinner();
</script>
<script src="./src/bootstrap-input-spinner.js"></script> -->
<br />
<h1 style="margin-left: 15px;">Shopping Cart</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line">Items</th>
      <th>Availability</th>
      <th>Quantity</th>

      <th style="text-align: right;">Price (THB)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cart of carts">
      <td>
        <p style="text-align: left;" class="ui center aligned header">
          {{cart.toyName}} by {{cart.brand}} ({{cart.gender}} | {{cart.age}})
        </p>
        <div class="ui red horizontal label remove" (click)="removeCart(cart.toyId)">
          <i class="trash alternate icon"></i>Remove
        </div>
      </td>
      <td class="single line">
        <i *ngIf="cart.availability" style="color: green; margin-left: 25px;" class="check icon"></i>
      </td>
      <td>
        <input
          placeholder="1"
          required
          type="number"
          [(value)]="cart.quantity"
          min="1"
          max="100"
        />
      </td>
      <td>
        <div class="toy-price">
          {{cart.price * 31.53 | number : '1.2'}}
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5"></th>
    </tr>
  </tfoot>
</table>

<p style="text-align: left; margin-left: 15px;">
  Shipping Method: EMS<br />Shipping Fee: {{shippingFee | number : '1.2'}} THB
  <span class="subtotal">
    Subtotal ({{allItemQuantities}} items): {{totalPrice * 31.53 | number : '1.2'}} THB<br /><br />Shipping Fee: {{shippingFee | number : '1.2'}} THB
    <br />
    <button style="margin-top: 5px;" class="ui orange button" (click)="checkout('*')">
      <i class="cart arrow down icon"></i>
      Proceed to Checkout
    </button>
  </span>
</p>
